<html>
	<h1>
		wind = {{ .wind }}m/s (status = {{ .windStatus }})
	</h1>
	<h1>
		water = {{ .water }}m (status = {{ .waterStatus }})
	</h1>
</html>

<script>
	setTimeout(function(){
		window.location.reload(1);
	}, 15000);
</script>